<ul class="nav">
  <li><a href="/">博客</a></li>
  <li><a href="/works/">作品</a></li>
  <li><a href="/about/">关于</a></li>
  {{#if post}}
  <li class="active generated-nav"><a href="">内容</a></li>
  {{/if}}
</ul>