/**************************************************

http://undefinedblog.com

**************************************************/
html, body{
  background-color: #fafafa;
  color: #111;
  font: 16px/1 "Helvetica Neue",Helvetica,"Lucida Grande","Luxi Sans",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei Mono",LiGothicMed;
  height: 100%;
}

a{
  color: #0074D9;
  text-decoration: none;
  -webkit-transition: .2s color;
  transition: .2s color;
}

.single-article a:visited{
  color: #7FDBFF;
}

.content a:hover,
a:hover{
  color: #001F3F;
}


h1{
  font-size: 32px;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 20px;
}

h4, h5, h6{
  font-size: 18px;
}

p{
  line-height: 150%;
}

ul li,
ol li{
  line-height: 130%;
}

.clearfix:after{
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  border-right: 1px #ddd solid;
}

.header .logo{
  position: relative;
  right: -1px;
  text-align: center;
  padding: 20px 0 28px;
  border-bottom: 1px #ddd solid;
}

.header .logo h1{
  margin: 0;
  font-family: Menlo, Consolas, Monaco, Courier, Droid Sans Mono, monospace;
}

.header .logo h1 a{
  color: #111;
}

.site-text{
  position: fixed;
  top: 0;
  margin: 0;
  padding: 27px 0 35px 2%;
  font-weight: 300;
  font-family: 'Helvetica Neue';
  border-bottom: 1px #ddd solid;
  border-left: 1px #ddd solid;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  z-index: 1;
  background-color: #fafafa;
}

.header .nav{
  margin: 0 0 0 20% ;
  padding: 0;
}

.header .nav li{
  list-style: none;
  margin: 10px 0;
  padding: 5px;
}

.header .nav a{
  display: block;
  width: 100%;
  height: 100%;
  letter-spacing: 5px;
}

.header .nav .active{
  border-left: 2px #0074D9 solid;
  padding-left: 20px;
  margin-left: -22px;
  -webkit-animation: bigShow .2s;
  animation: bigShow .2s;
}

.header .search{
  position: relative;
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px #ddd solid;
}

.header .search-input{
  background: none;
  padding: 4px 0 4px 10px;
  margin: 0 -10px 0 0;
  border: none;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  outline: none;
  line-height: 150%;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header .submit-btn{
  position: absolute;
  top: 20px;
  right: 0;
  padding: 8px;
  background: #FF4136;
  color: #fff;
  border: none;
  -webkit-transition: .2s background;
  transition: .2s background;
}

.header .submit-btn:hover{
  background-color: #FF851B;
}

.content{
  margin-left: 25%;
  width: 75%;
  margin-top: 80px;
}

.content .article{
  padding: 0 20px 40px;
  border-bottom: 1px #ddd solid;
  padding-top: 1px;
  margin-top: -1px;
}

.content h2 a{
  display: block;
  width: 100%;
  height: 100%;
}

.content .date,
.content .tag{
  font-size: 14px;
  color: #aaa;
  margin-right: 10px;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 25%;
}
.footer p{
  font-size: 12px;
  margin: 5px 0;
  color: #aaa;
  line-height: 1;
}

.pagination{
  margin-top: 10px;
  text-align: center;
}

.content .comment{
  margin: 20px;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@-webkit-keyframes bigShow{
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1.3) rotate(0);
    transform: scale(1.3) rotate(0);
    opacity: .7;
  }

  to {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}

@keyframes bigShow{
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1.3) rotate(0);
    transform: scale(1.3) rotate(0);
    opacity: .7;
  }

  to {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}


.error-text{
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 80px;
  font-weight: bold;
  color: #ccc;
  text-shadow: 1px 1px #fff;
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.trace{
  position: absolute;
  -webkit-transition: .2s all;
  transition: .2s all;
  bottom: 0;
  opacity: 0;
  -webkit-filter: opacity(alpha=0);
  filter: opacity(alpha=0);
}

.trace:hover{
  opacity: 1;
  -webkit-filter: opacity(alpha=100);
  filter: opacity(alpha=100);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .header{
    position: relative;
    margin: 0;
    width: 100%;
    border-right: none;
  }

  .header .nav {
    margin: 0;
    text-align: center;
  }

  .header .nav .active{
    text-decoration: underline;
  }

  .site-text{
    display: none;
  }

  .content{
    width: 100%;
    margin: 0;
  }

  .footer{
    position: relative;
    width: 100%;
    margin-top: 30px;
  }

  .error-text{
    position: relative;
    top: 20px;
    left: 0;
    text-align: center;
    font-size: 36px;
  }
}

















